DB_URL=jdbc:mysql://localhost:3306/flashdeal?serverTimezone=UTC
DB_USER=flashdeal
DB_PASSWORD=flashdeal
REDIS_HOST=localhost
REDIS_PORT=6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=flashdeal
RABBITMQ_PASSWORD=flashdeal
WORKER_ID=1
TOKEN_TTL=PT10S
